<div id="wrapper">
  <%= render partial: "header" %>
  <!--<p>まずはフォローしましょう！</p>-->
  <div class="ad_left">
    <img src="#" width="100%" height="100%" alt="画像入ります" />
    <!--クーポン名?広告名?領域-->
    <span>タケシのニビジム</span>
  </div>
  <div class="ad_right">
    <img src="#" width="171" height="194" alt="" />
    <!--クーポン名?広告名?領域-->
    <span>タケシのニビジム</span>
    <span></span>
    <% @user_ads.each do |user_ad|  %>
        <%= user_ad.ad.title %>
        <%= image_tag user_ad.ad.image.url(:thumb) %>
        <%= link_to '詳細', user_ad, method: :get, id: user_ad.ad.title %>
    <% end %>
  </div>
  <%= render partial: "footer" %>
</div>
