<!DOCTYPE html>
<html>
<head>
  <title>Onix</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">

  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- pubkey -->
  <script type="text/javascript" charset="utf-8">
      window.vapidPublicKey = new Uint8Array(<%= vapid_public_key %>)
  </script>
</head>

<body>
<%= yield %>
</body>
</html>
